<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--数据数据库连接Start-->
    <add key="SQLServer:ConnectionDb" value="Data Source=DESKTOP-OS8CT9P\SQLEXPRESS;database=testDB;User ID=sa;Password=hao123" />
    <add key="ServerDescription" value="数据服务平台-KELEI" />
    <add key="ServerDisplayName" value="KELEIDBAccessServer" />
    <add key="ServerServiceName" value="KELEIDBAccessServer" />
    <add key="NetMQIPAddress" value="127.0.0.1:5557,127.0.0.1:5558" />
    <!--存放实体类的类库，多个使用逗号分隔(,)-->
    <add key="SystemModelAssembly" value="KELEI.PM.Entity" />
    <!--存放Repository，IDal和Dal的类库，自动扫描类库下的IDal和Dal，自动进行匹配-->
	<!--<add key="SystemRepositoryAssembly" value="KELEI.PM.DBService,KELEI.PM.DBService.Repository.SqlServer" />-->
    <!--RPC监听服务配置-->
    <add key="NetMQListenerObjectXML" value="Configs/ServiceListenerObject.xml" />
    <add key="NetMQListenerObjectNodeName" value="/objects/object" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AsyncIO" publicKeyToken="44a94435bd6f33f8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.0.0.0" newVersion="0.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>