<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net debug="true">
    <appender name="ErrorLogger" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\LogMessages\\DBAccessServicesLogs\\Error\\" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="1GB" />
      <rollingStyle value="Date" />
      <datePattern value="'Error'_yyyyMMdd_HH.'txt'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %n时间: %date %n线程: [%thread] %n日志级别:%-5level %logger   %n描述: %message%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="InfoLogger" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\LogMessages\\DBAccessServicesLogs\\Info\\" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="1GB" />
      <rollingStyle value="Date" />
      <datePattern value="'Info'_yyyyMMdd_HH.'txt'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n时间: %date 线程: [%thread] 描述: %message" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="LogInterfaceInfoLogger" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\LogMessages\\DBAccessServicesLogs\\InterfaceInfo\\" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="1GB" />
      <rollingStyle value="Date" />
      <datePattern value="'Interface'_yyyyMMdd_HH.'txt'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n时间: %date 线程: [%thread] 描述: %message" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="LogCustomizeLogger" type="log4net.Appender.RollingFileAppender">
      <file  value="C:\\LogMessages\\DBAccessServicesLogs\\Customize\\{$}" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="1GB" />
      <rollingStyle value="Date" />
      <datePattern value="'Info'_yyyyMMdd_HH.'txt'" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n时间: %date 线程: [%thread] 描述: %message" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <logger name="logerror">
      <level value="ERROR" />
      <appender-ref ref="ErrorLogger" />
    </logger>
    <logger name="loginfo">
      <level value="info" />
      <appender-ref ref="InfoLogger" />
    </logger>
    <logger name="logInterfaceInfo">
      <level value="info" />
      <appender-ref ref="LogInterfaceInfoLogger" />
    </logger>
    <logger name="customizeLogger">
      <level value="info" />
      <appender-ref ref="LogCustomizeLogger" />
    </logger>
  </log4net>
</configuration>
